.card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 270px;
  background: rgb(9 39 48);
  border-radius: 25px;
  padding: 10px;
}

.modal_content span:first-of-type {
  font-size: 17px;
}

.modal_content span {
  color: white;
}

.modal_content input {
  margin-top: 25px;
  border: 3px solid rgb(11, 238, 227);
}

.modal_content button {
  width: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.modal_content button:hover {
  color: white;
  background: rgb(13, 161, 206);
}

.flatten_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.prev_button {
  background: rgb(11, 41, 175);
  color: white;
  padding: 2px 5px 2px 5px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid rgb(5, 77, 99);
  font-size: 1rem;
}

.next_button {
  background: rgb(11, 41, 175);
  color: white;
  padding: 2px 5px 2px 5px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid rgb(5, 77, 99);
  font-size: 1rem;
}

.prev_button:disabled,
.next_button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.prev_button:hover:not(:disabled),
.next_button:hover:not(:disabled) {
  background: rgb(3, 71, 39);
  cursor: pointer;
}

.page_no {
  color: white;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  background: white;
  width: 50px;
  color: black;
  padding: 2px 5px 2px 5px;
  border-radius: 6px;
}

@media screen and (max-width: 500px) {
  body {
    height: 100%;
  }

  .flatten_container {
    flex-direction: column;
  }

  .modal_content {
    width: calc(100vw - 10%);
    height: 250px;
  }

  .modal_content span {
    font-size: 15px;
  }
}
