.cart_loading,
.payment_loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(68, 56, 56, 0.6);
}

.cart_loading svg,
.payment_loading svg {
  width: 80px;
  height: 80px;
}

.cart_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: skewPage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes skewPage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.cart_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  color: white;
  font-size: 30px;
}

.cart_items {
  font-size: 17px;
  border-bottom: 1px solid white;
  width: 1200px;
  max-height: 400px;
  overflow-y: auto;
}

.cart_table_head {
  font-size: 17px;
  max-width: 1400px;
  margin-bottom: 0px;
}

.cart_table {
  font-size: 17px;
  border: 1px solid white;
  max-width: 1400px;
  margin-bottom: 0px;
}

.cart_table_head th {
  color: cyan;
  border: 1px solid white;
  background: rgb(24, 22, 22);
}

.cart_table_head thead th:nth-of-type(1) {
  width: 80px;
}
.cart_table_head thead th:nth-of-type(2) {
  width: 400px;
}
.cart_table_head thead th:nth-of-type(3) {
  width: 170px;
}

.cart_table_head thead th:nth-of-type(4) {
  width: 150px;
}

.cart_table_head thead th:nth-of-type(5) {
  width: 100px;
}

.cart_table_head thead th:nth-of-type(6) {
  width: 150px;
}

.cart_table tbody tr td:nth-of-type(1) {
  width: 80px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(2) {
  width: 400px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(3) {
  width: 170px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(4) {
  width: 150px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(5) {
  width: 100px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(6) {
  width: 150px;
  background: rgb(87, 81, 81);
}

.cart_table tbody tr td:nth-of-type(7) {
  background: rgb(87, 81, 81);
}

.cart_table tbody tr:hover {
  background-color: rgb(66, 50, 50);
}

.cart_table tbody tr:hover td {
  background-color: rgb(66, 50, 50);
}

.cart_product_qty {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

.empty_cart {
  text-align: center;
}

.table_totals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear_all_items {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.clear_all_items span {
  font-size: 18px;
  height: 30px;
  width: 130px;
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-right: 10px;
  background: rgba(44, 40, 40, 0.7);
  border-radius: 10px;
}

.clear_all_items button {
  height: 30px;
  width: 100px;
  font-size: 17px;
  border-radius: 10px;
  background: rgb(87, 81, 81);
  color: cyan;
  border: 1px solid cyan;
}

.clear_all_items button:not(:disabled):hover {
  background: rgb(41, 38, 38);
}

.clear_all_items button:disabled:hover {
  cursor: not-allowed;
}

.order_totals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.cart_table2 {
  width: fit-content;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 1px solid white;
  text-align: left;
}

.cart_table2 th:nth-of-type(1) {
  width: 180px;
}

.cart_table2 th:nth-of-type(2) {
  width: 220px;
}

.cart_table2A {
  width: fit-content;
  font-size: 17px;
  margin-bottom: 0px;
  border: 1px solid white;
  text-align: left;
}

.cart_table2A th:nth-of-type(1) {
  width: 180px;
}

.cart_table2A th:nth-of-type(2) {
  width: 220px;
}

.cart_table3 {
  width: fit-content;
  font-size: 17px;
  border: 1px solid white;
  text-align: left;
  margin-bottom: 0px;
}

.cart_table3 th:nth-of-type(1) {
  width: 180px;
  background: #8d0505;
  color: white;
  border-radius: 20px;
}

.cart_table3 th:nth-of-type(2) {
  width: 220px;
}

.cart_table4 {
  width: fit-content;
  font-size: 17px;
  border: 1px solid white;
  text-align: left;
  margin-bottom: 0px;
}

.cart_table4 th:nth-of-type(1) {
  width: 180px;
}

.cart_table4 th:nth-of-type(2) {
  width: 220px;
}

.cart_table5 {
  width: fit-content;
  font-size: 17px;
  border: 1px solid white;
  text-align: left;
}

.cart_table5 th:nth-of-type(1) {
  width: 180px;
}

.cart_table5 th:nth-of-type(2) {
  width: 220px;
  color: cyan;
}

.address_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
}

.address_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  background: rgb(9 39 48);
  border-radius: 25px 0 25px 25px;
  padding: 0 25px 25px 25px;
  z-index: 2;
}

.address_modal_content span:first-of-type {
  width: 113%;
  text-align: right;
  font-size: 20px;
  color: white;
}

.address_modal_content form {
  margin-left: 30px;
}

.address_modal_content i {
  padding: 0 10px 2px 10px;
  background: red;
}

.address_modal_content i:hover {
  cursor: pointer;
}

.address_modal_content span {
  font-size: 18px;
  color: white;
}

.address_modal_content input {
  width: 250px;
  border: 1px solid rgb(11, 238, 227);
}

.address_modal_content button:hover:not(:disabled) {
  background: rgb(13, 161, 206);
}

.address_modal_content button:disabled {
  cursor: not-allowed;
  background: rgb(2, 72, 94);
}

.address_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.billing_address_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.billing_address_country,
.billing_address_city {
  font-size: 15px;
  width: 90%;
  margin-bottom: 40px;
}

#billing_address_home {
  font-size: 15px;
  width: 90%;
  margin-bottom: 30px;
}

#billing_address_home::placeholder {
  color: black;
}

#billing_address_home:focus {
  outline: none;
}

#save_billing_address {
  text-align: center;
  cursor: pointer;
  width: 80px;
  background: white;
  border: none;
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding: 2px 0 2px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

#save_billing_address:hover {
  background: cyan;
}

#save_billing_address:focus {
  outline: none;
}

#address_save_check {
  text-align: center;
  font-size: 15px;
}

#address_title {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 40px;
}

#address_title span {
  width: fit-content;
  font-weight: bold;
  color: aqua;
  font-size: 20px;
}

.address_logged_user {
  display: flex;
  width: 100%;
}

#address_logged_user_text {
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}

.check_out {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.payment_button {
  height: 40px;
  font-size: 20px;
  background: red;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.payment_button:disabled {
  background: rgb(90, 84, 84);
  cursor: auto;
  border: 1px solid white;
}

.pay_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
}

.pay_modal_container {
  width: 342px;
  height: 443px;
}

.pay_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background: rgb(9 39 48);
  border-radius: 25px 0 25px 25px;
  padding: 0 25px 25px 25px;
  z-index: 2;
  color: white;
}

.pay_modal_content span:first-of-type {
  width: 115%;
  text-align: right;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.pay_modal_content i {
  padding: 0 10px 2px 10px;
  background: red;
}

.pay_modal_content i:hover {
  cursor: pointer;
}

#payment_details {
  width: 100%;
  margin-bottom: 30px;
}

#payment_details span {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid cyan;
}

#payment_details span:nth-of-type(2) {
  color: cyan;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .cart_loading svg,
  .payment_loading svg {
    width: 50px;
    height: 50px;
  }

  .cart_content {
    width: calc(100vw - 10%);
    margin-top: 40px;
    padding-top: 20px;
  }

  .cart_container {
    height: 100%;
    animation-name: skewPage;
    animation-duration: 0s;
    animation-fill-mode: forwards;
  }

  @keyframes skewPage {
    0% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }

  .cart_head_plus_items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-top: 15px;
    border: 1px solid white;
  }

  .cart_table_head {
    font-size: 14px;
    text-align: center;
    width: 100px;
  }

  .cart_table_head thead {
    width: 100px;
  }

  .cart_table_head tr {
    width: 110px;
    display: flex;
    flex-direction: column;
  }

  .cart_table {
    width: 250px;
    font-size: 14px;
    border-top: 0;
  }

  .cart_table tr {
    display: flex;
    flex-direction: column;
    border-top: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border: 1px solid black;
  }

  .cart_table_head thead th:nth-of-type(1),
  .cart_table_head thead th:nth-of-type(2),
  .cart_table_head thead th:nth-of-type(3),
  .cart_table_head thead th:nth-of-type(4),
  .cart_table_head thead th:nth-of-type(5),
  .cart_table_head thead th:nth-of-type(6),
  .cart_table_head thead th:nth-of-type(7) {
    width: 110px;
  }

  .cart_table tbody tr td:nth-of-type(1),
  .cart_table tbody tr td:nth-of-type(2),
  .cart_table tbody tr td:nth-of-type(3),
  .cart_table tbody tr td:nth-of-type(4),
  .cart_table tbody tr td:nth-of-type(5),
  .cart_table tbody tr td:nth-of-type(6),
  .cart_table tbody tr td:nth-of-type(7) {
    border: 1px solid rgb(29, 28, 28);
    width: 256px;
  }

  .cart_table tbody tr:hover td {
    background-color: rgb(87, 81, 81);
  }

  .cart_table tbody tr td:nth-of-type(1) {
    background: rgb(41, 72, 90);
  }

  .cart_table tbody tr td:nth-of-type(1):hover {
    background: rgb(41, 72, 90);
  }

  .cart_table2 {
    width: 100%;
    margin-top: 0;
    font-size: 14px;
  }

  .cart_table2 th:nth-of-type(1) {
    width: 40%;
  }

  .cart_table2 th:nth-of-type(2) {
    width: 60%;
  }

  .cart_table2A {
    width: 100%;
    font-size: 14px;
  }

  .cart_table2A th:nth-of-type(1) {
    width: 40%;
  }

  .cart_table2A th:nth-of-type(2) {
    width: 60%;
  }

  .cart_table3 {
    width: 100%;
    font-size: 14px;
  }

  .cart_table3 th:nth-of-type(1) {
    width: 40%;
  }

  .cart_table3 th:nth-of-type(2) {
    width: 60%;
  }

  .cart_table4 {
    width: 100%;
    font-size: 14px;
  }

  .cart_table4 th:nth-of-type(1) {
    width: 40%;
  }

  .cart_table4 th:nth-of-type(2) {
    width: 60%;
  }

  .cart_table5 {
    width: 100%;
    font-size: 14px;
  }

  .cart_table5 th:nth-of-type(1) {
    width: 40%;
  }

  .cart_table5 th:nth-of-type(2) {
    width: 60%;
  }

  .cart_items {
    width: 262px;
    border-bottom: 0;
    height: 273px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 0 0 100px;
  }

  .clear_all_items {
    flex-direction: row;
    justify-content: center;
  }

  .clear_all_items button {
    font-size: 14px;
    width: 120px;
  }

  .clear_all_items span {
    font-size: 15px;
    width: 110px;
  }

  .empty_cart {
    width: 256px !important;
    height: 270px;
    padding: 115px 0 0 0 !important;
  }

  .empty_cart:hover {
    background-color: rgb(87, 81, 81) !important;
  }

  .table_totals {
    flex-direction: column;
  }

  .order_totals {
    justify-content: center;
    align-items: center;
  }

  .check_out {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .payment_button {
    margin-right: 0px;
    font-size: 15px;
  }

  .pay_modal_container {
    width: calc(100vw - 10%);
  }

  .pay_modal_content {
    width: calc(100vw - 10%);
    height: auto;
  }
}
