.sidebar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: wheat;
  width: 310px;
  height: 100%;
  margin-top: 75px;
  margin-left: 10px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  font-size: 20px;
  color: white;
  background: rgb(40, 69, 78);
  border: 1px solid white;
  border-top-left-radius: 5px;
}

.title span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar_profileContent {
  text-decoration: none;
  color: white;
}

.sidebar_profileContent:hover {
  text-decoration: underline;
  cursor: pointer;
}

.accordion-button {
  font-size: 16px;
  background: #023f50;
  color: white;
}

.accordion-button:focus {
  border: 1px solid white;
  text-decoration: none;
}

.accordion-button:not(.collapsed) {
  text-decoration: underline;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion {
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27white%27 fill-rule=%27evenodd%27 d=%27M8 1.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-1 0v-12a.5.5 0 0 1 .5-.5zM1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27black%27 fill-rule=%27evenodd%27 d=%27M14 8a.5.5 0 0 1-.5.5H2a.5.5 0 0 1 0-1h11.5A.5.5 0 0 1 14 8z%27/%3e%3c/svg%3e);
  --bs-accordion-active-bg: rgb(188, 194, 194);
  --bs-accordion-active-color: rgb(19, 18, 18);
  --bs-accordion-border-radius: 0px;
  --bs-accordion-btn-focus-border: 1px solid white;
  --bs-accordion-btn-focus-box-shadow: var(--bs-accordion-btn-focus-border-color);
}

.accordion-body {
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(22, 24, 24);
}

@media screen and (max-width: 500px) {
  .sidebar_left {
    margin: 15px 0 30px 0;
    width: 350px;
  }

  .title {
    border-top-right-radius: 5px;
  }
}
