.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1400px;
}

.contact_left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  overflow-y: auto;
}

.contact_right {
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(20, 65, 77, 0.8);
  overflow-x: hidden;
  overflow-y: visible;
}

.contact_container::-webkit-scrollbar {
  display: none;
}

.contact_left::-webkit-scrollbar {
  display: none;
}

.photo {
  cursor: pointer;
  width: 100%;
  height: 700px;
  margin-bottom: -200px;
  padding: 0;
  background-size: cover, auto;
  background-attachment: fixed;
  background-position: center center;
  clip-path: polygon(50% 25%, 100% 0%, 100% 50%, 50% 75%, 0% 100%, 0% 50%);
  transition: all 0.9s ease-in-out;
  background-blend-mode: lighten;
  z-index: 1;
}

.photo.first {
  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 75%, 0% 100%, 0% 0%);
}

.photo.last {
  clip-path: polygon(50% 25%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
}

.arrow {
  clip-path: polygon(50% 25%, 100% 50%, 100% 100%, 50% 75%, 0% 50%, 0% 0%);
}

.arrow.one {
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 50%, 0% 0%);
}

.arrow.ten {
  clip-path: polygon(50% 25%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
}

.one {
  background-image: url(../../../public/contactPage/1.jpg);
}

.two {
  background-image: url(../../../public/contactPage/2.jpg);
}

.three {
  background-image: url(../../../public/contactPage/3.jpg);
}

.four {
  background-image: url(../../../public/contactPage/4.jpg);
}

.five {
  background-image: url(../../../public/contactPage/5.jpg);
}

.six {
  background-image: url(../../../public/contactPage/6.jpg);
}

.seven {
  background-image: url(../../../public/contactPage/7.jpg);
}

.eight {
  background-image: url(../../../public/contactPage/8.jpg);
}

.nine {
  background-image: url(../../../public/contactPage/9.jpg);
}

.ten {
  background-image: url(../../../public/contactPage/10.jpg);
  margin-bottom: 0px;
}

.leftText_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: "center";
  margin-bottom: 150px;
  margin-top: 150px;
  z-index: 0;
  padding-left: 180px;
  padding-right: 180px;
}

.rightText_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  z-index: 0;
}

.right_mail {
  color: white;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 7px;
}

.right_mail.animate {
  animation-name: backInLeft;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_phone {
  color: white;
  text-decoration: underline;
  font-size: 16px;
  margin-right: 15px;
}

.left_text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  border-bottom: 3px solid cyan;
  margin-bottom: 15px;
}

.left_text.animate {
  animation-name: backInLeft;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_text.animate {
  animation-name: backInLeft;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.left_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.left_icons.animate {
  animation-name: backInRight;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right_icons.animate {
  animation-name: backInLeft;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.icon_google,
.icon_twitter,
.icon_youtube,
.icon_linkedIn {
  margin-right: 15px;
}

.icon_google {
  color: green;
}

.icon_google:hover {
  transform: scale(1.35);
}

.icon_twitter {
  color: rgb(52, 219, 231);
}

.icon_twitter:hover {
  transform: scale(1.35);
}

.icon_youtube {
  color: rgb(238, 48, 48);
}

.icon_youtube:hover {
  transform: scale(1.35);
}

.icon_linkedIn {
  color: rgb(20, 110, 228);
}

.icon_linkedIn:hover {
  transform: scale(1.35);
}

.contact_text {
  width: 700px;
}

.contact_text span {
  display: inline-block;
  text-align: center;
  font-size: 19px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contact_right_text.animate {
  animation-name: backInRight;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_floating_content {
  position: relative;
  background: rgb(41, 44, 44);
  margin-top: 40px;
  width: 550px;
}

.right_floating_content.animate {
  animation-name: backInRight;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_floating_input {
  background: transparent;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  color: cyan;
  width: 550px;
  padding-left: 40px;
}

.right_floating_input:focus {
  outline: none;
  opacity: 1;
}

.right_floating_input:focus ~ .right_floating_label {
  top: -20px;
  border-radius: 5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-decoration: none;
}

.right_floating_input:not(:placeholder-shown) ~ .right_floating_label {
  top: -20px;
  color: white;
  border-radius: 5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-decoration: none;
}

.right_floating_label {
  color: cyan;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 8px;
  padding: 0 5px;
  margin-bottom: 5px;
  background: rgb(41, 44, 44);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  text-decoration: underline;
}

.contact_send {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  margin-top: 20px;
}

input[type="file"]::-webkit-file-upload-button {
  width: 100px;
  background: rgb(41, 44, 44);
  color: cyan;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.right_file.animate {
  animation-name: backInRight;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.contact_send input {
  width: 350px;
  color: cyan;
  margin: 0 0 20px;
  text-decoration: underline;
}

.contact_send_button {
  width: 100px;
  background: rgb(41, 44, 44);
  color: cyan;
  border: 1px solid white;
  border-radius: 4px;
}

.contact_send_button:not(:disabled):hover {
  background: rgb(0, 0, 0);
}

.contact_send_button:disabled {
  cursor: not-allowed;
  background: rgb(14, 139, 170);
}

.contact_send_button.animate {
  animation-name: backInRight;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.message_confirmation {
  color: cyan;
  margin-left: 20px;
}

.icon_send {
  color: cyan;
}

.contact_address {
  width: 700px;
  height: 600px;
  border: 0;
  margin-top: 40px;
}

.contact_address_map {
  width: 100%;
  height: 100%;
}

@keyframes backInRight {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {
  .contact_container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .contact_left {
    display: none;
  }

  .contact_right {
    padding-top: 20px;
    min-height: 1300px;
  }

  .right_floating_content.animate {
    animation-name: none;
  }

  .right_file.animate {
    animation-name: none;
  }

  .contact_send_button.animate {
    animation-name: none;
  }

  .contact_text {
    font-size: 16px;
    width: calc(100vw - 10%);
  }

  .contact_text span:nth-of-type(1) {
    margin-top: 20px;
  }

  .right_floating_content {
    width: calc(100vw - 10%);
    margin-top: 30px;
  }

  .right_floating_input {
    width: calc(100vw - 10%);
  }

  .contact_send {
    width: calc(100vw - 10%);
    margin-top: 20px;
  }

  .contact_send input {
    color: cyan;
    margin: 0 0 20px;
  }

  input[type="file"]::-webkit-file-upload-button {
    width: 120px;
    background: rgb(41, 44, 44);
    color: cyan;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }

  .contact_address {
    width: calc(100vw - 10%);
    height: 500px;
    margin-top: 30px;
  }

  .rightText_container {
    display: block;
    margin: 20px 0 20px 0;
  }
}
