#homePage_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 650px;
  height: 810px;
  border: 1px solid white;
  background: #023f50;
}

.content_header {
  width: 648px;
  height: 433px;
  animation: image 10s linear infinite;
  background-size: contain;
  background-position: center center;
}

.content_main {
  color: white;
  width: 645px;
  margin-top: 20px;
  margin-left: 3px;
  font-size: 20px;
}

.content_main span {
  align-items: center;
}

.content_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  border: 1px solid white;
  width: 650px;
  height: 744px;
  margin-right: 10px;
  margin-top: 75px;
  font-size: 20px;
}

@keyframes image {
  0% {
    background-image: url("../../assets/home/header1.png");
  }
  25% {
    background-image: url("../../assets/home/header1.png");
  }
  26% {
    background-image: url("../../assets/home/header2.png");
  }
  51% {
    background-image: url("../../assets/home/header2.png");
  }
  52% {
    background-image: url("../../assets/home/header3.png");
  }
  77% {
    background-image: url("../../assets/home/header3.png");
  }
  100% {
    background-image: url("../../assets/home/header1.png");
  }
}
