.menu_tab {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 10px;
  z-index: 1;
  color: white;
}

.login_menu {
  display: flex;
  justify-content: space-around !important;
  padding-left: 0 !important;
  font-size: 17px;
  margin: 30px 0 20px 0;
  border-bottom: none !important;
}
.login_menu:hover {
  background: #02222b !important;
}

.login_menu button {
  color: white;
  background: #02222b;
  border: 1px solid cyan;
  box-shadow: 4px 4px 0 rgb(4, 121, 121);
  transition: color 0.2s ease-in, box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.login_menu button:hover:not(:disabled) {
  color: white;
  box-shadow: 0 0 0 red;
}

.login_menu button:disabled {
  cursor: not-allowed;
}

.signUp_button {
  color: cyan !important;
  text-decoration: underline;
  font-size: 18px !important;
  cursor: pointer;
}

.mail_check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mail_check span {
  width: 100%;
  font-size: 16px !important;
  text-align: center !important;
}

.mail_check input {
  width: 75px !important;
  text-align: center !important;
  font-size: 15px !important;
}

#check_icon {
  color: green;
  width: 35px;
  height: 35px;
}

.login_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 2;
}

.login_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: auto;
  background: rgb(9 39 48);
  border-radius: 25px 0 25px 25px;
  padding: 0 25px 25px 25px;
  z-index: 2;
}

.login_modal_content span:first-of-type {
  width: 113%;
  text-align: right;
  font-size: 20px;
  color: white;
}

.login_modal_content form {
  margin-left: 30px;
}

.login_modal_content i {
  padding: 0 10px 2px 10px;
  background: red;
}

.login_modal_content i:hover {
  cursor: pointer;
}

.login_modal_content span {
  font-size: 18px;
  color: white;
}

.login_modal_content label {
  margin-top: 10px;
  color: white;
}

.login_modal_content input {
  width: 250px;
  border: 3px solid rgb(11, 238, 227);
}

.login_modal_content button {
  width: 191px;
  margin-top: 25px;
  margin-bottom: 10px;
  background: #0366e7;
  color: white;
  font-weight: bold;
}

.login_modal_content button:hover:not(:disabled) {
  background: rgb(13, 161, 206);
}

.login_modal_content button:disabled {
  cursor: not-allowed;
  background: rgb(2, 72, 94);
}

.chosen_tab {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(2, 59, 59, 0.5);
}

.no_of_products_in_cart {
  font-size: 15px;
  min-width: 20px;
  text-align: center;
  margin-left: 140px;
  background: red;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 20%;
}

.bm-menu-wrap.my-custom-menu {
  width: 250px !important;
}

#react-burger-menu-btn {
  width: 50px !important;
  height: 45px !important;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 10px;
}

.bm-burger-bars {
  border-radius: 4px;
  margin: 4px 0;
  background: white;
}

.bm-burger-bars:nth-child(1) {
  width: 25px;
}

.bm-burger-bars:nth-child(2) {
  width: 50px;
  background-color: cyan;
}

.bm-burger-bars:nth-child(3) {
  width: 25px;
  margin-left: 25px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  overflow: hidden !important;
  background: #02222b;
  padding-left: 0;
  padding-top: 20px;
  font-size: 1.15em;
  width: 250px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 20px 0px 0px 0px;
}

.menu_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  margin-bottom: 120px;
  margin-top: 100px;
  width: 100%;
  padding-left: 0 !important;
}

.img_navbar {
  width: 100%;
  cursor: auto;
  background-color: #02222b;
}

.bm-item {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  height: 40px;
  padding-left: 10px;
}

.menu_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
  border-bottom: none;
  padding: 0;
}

.menu_footer:hover {
  background: #02222b !important;
}

.menu_footer span:last-of-type {
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

.bm-item:hover {
  background: #04576e;
  color: white;
}

@media screen and (max-width: 500px) {
  .menu_tab {
    margin-top: 15px;
  }

  #username,
  #mail,
  #pass {
    font-size: 15px;
  }

  .login_modal_content {
    width: calc(100vw - 10%);
    height: auto;
  }

  .login_modal_content span:first-of-type {
    width: 115.5%;
  }

  .login_modal_content span {
    font-size: 16px;
  }

  .login_modal_content button {
    font-size: 15px;
  }

  .login_modal_content label {
    font-size: 15px;
  }

  .signUp_button {
    font-size: 16px !important;
  }

  .mail_check span {
    font-size: 16px !important;
  }

  #check_icon {
    width: 25px;
    height: 25px;
  }

  .chosen_tab {
    font-size: 18px;
  }

  .no_of_products_in_cart {
    font-size: 16px;
  }

  .menu_footer {
    margin-top: calc(100vh - 280%);
  }
}
