.menu_tab {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 10px;
  z-index: 1;
  color: white;
}

.login_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: auto;
  background: rgb(9 39 48);
  border-radius: 25px 0 25px 25px;
  padding: 0 25px 25px 25px;
  z-index: 2;
}

.login_modal_content span:first-of-type {
  width: 115%;
  text-align: right;
  font-size: 20px;
  color: white;
}

.login_modal_content form {
  margin-left: 30px;
}

.login_modal_content i {
  padding: 0 10px 2px 10px;
  background: red;
}

.login_modal_content i:hover {
  cursor: pointer;
}

.login_modal_content span {
  font-size: 18px;
  color: white;
}

.login_modal_content input {
  width: 250px;
  border: 1px solid rgb(11, 238, 227);
}

.login_modal_content button:hover:not(:disabled) {
  background: rgb(13, 161, 206);
}

.login_modal_content button:disabled {
  cursor: not-allowed;
  background: rgb(2, 72, 94);
}

#log_option {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 15px;
}

#log_option span {
  width: fit-content;
  font-weight: bold;
  color: aqua;
  font-size: 25px;
}

#auth_options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  border-bottom: none;
  padding-left: 0;
}

#auth_options:hover {
  background: #02222b;
}

#auth_options button {
  color: white;
  background: #02222b;
  border: 1px solid white;
  border-radius: 5px;
}

#auth_options button:disabled {
  background: rgb(88, 88, 88);
}

#auth_options button:hover:not(:disabled) {
  background: #046783;
}

#signOut_confirm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#signOut_confirm button {
  width: 90px;
  background: rgb(9 39 48);
  color: cyan;
  border: 1px solid cyan;
  border-radius: 5px;
}

#signOut_confirm button:hover:not(:disabled) {
  background: rgb(7, 157, 202);
  color: rgb(255, 255, 255);
}

#signOut_confirm button:disabled {
  background: rgb(59, 65, 66);
  color: rgb(222, 228, 228);
}

#new_pass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#new_pass button {
  width: 90px;
  background: rgb(2, 16, 20);
  color: white;
  border: 1px solid cyan;
  border-radius: 5px;
}

#new_pass button:hover:not(:disabled) {
  background: rgb(7, 157, 202);
  color: rgb(255, 255, 255);
}

#new_pass button:disabled {
  background: rgb(59, 65, 66);
  color: rgb(222, 228, 228);
}

#new_pass input {
  width: 80%;
  height: 40px;
  background: rgb(9 39 48);
  color: cyan;
  border: 1px solid cyan;
  border-radius: 5px;
  padding-left: 10px;
}

#new_pass input:focus {
  outline: none;
}

#google_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 15px;
}

#facebook_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

#google_auth button,
#facebook_auth button,
#sign_in_button,
#forgot_pass_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  height: 40px;
  width: 250px;
  color: black;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

#google_auth button:hover:not(:disabled),
#facebook_auth button:hover:not(:disabled) {
  box-shadow: 0 0 15px 5px rgb(3, 131, 131);
}

#google_auth button:disabled,
#facebook_auth button:disabled {
  opacity: 0.5;
}

#google_auth svg {
  background: white;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

#facebook_auth svg {
  background: white;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  color: blue;
}

.social_login_checking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social_login_checking span {
  width: 100%;
  font-size: 16px !important;
  text-align: center !important;
}

#social_or_credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}

#social_or_credentials hr {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  border: none;
  border-top: 2px solid white;
  z-index: 0;
}

#social_or_credentials span {
  position: relative;
  text-align: center;
  z-index: 1;
  background: rgb(9 39 48);
  width: fit-content;
  padding: 0 10px 0 10px;
  font-size: 15px;
}

.user_credentials_content:nth-of-type(1) {
  position: relative;
  background: rgb(9 39 48);
  margin-top: 30px;
  width: 100%;
}

.user_credentials_content:nth-of-type(2) {
  position: relative;
  background: rgb(9 39 48);
  margin-top: 45px;
  width: 100%;
}

.user_credentials_content:nth-of-type(3) {
  position: relative;
  background: rgb(9 39 48);
  margin-top: 45px;
  width: 100%;
}

.user_credentials_input {
  background: transparent;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  color: cyan;
  width: 100%;
  padding-left: 40px;
}

.user_credentials_label {
  color: cyan;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 8px;
  padding: 0 5px;
  margin-bottom: 5px;
  background: rgb(9 39 48);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: 15px;
}

.user_credentials_input:focus {
  outline: none;
  opacity: 1;
}

.user_credentials_input:focus ~ .user_credentials_label {
  top: -21px;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid rgb(11, 238, 227);
  border-right: 1px solid rgb(11, 238, 227);
  border-left: 1px solid rgb(11, 238, 227);
  text-decoration: none;
}

.user_credentials_input:not(:placeholder-shown) ~ .user_credentials_label {
  top: -21px;
  color: white;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid rgb(11, 238, 227);
  border-right: 1px solid rgb(11, 238, 227);
  border-left: 1px solid rgb(11, 238, 227);
  text-decoration: none;
}

#sign_in_button {
  color: white;
  background: rgb(4, 139, 180);
  margin-top: 30px;
}

#sign_in_button:hover:not(:disabled) {
  color: white;
  background: rgb(3, 75, 97);
}

#forgot_pass_button {
  color: white;
  background: rgb(0, 0, 0);
  margin-top: 20px;
  border: 1px solid rgb(124, 120, 120);
}

#forgot_pass_button:hover:not(:disabled) {
  color: white;
  background: rgb(3, 75, 97);
}

#sign_up {
  width: 100%;
  margin-top: 30px;
}

#sign_up span:nth-of-type(1) {
  font-size: 16px;
}

#sign_up span:nth-of-type(2) {
  color: cyan;
  font-size: 16px;
}

#sign_up span:nth-of-type(2):hover {
  cursor: pointer;
}

.mail_check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mail_check span {
  width: 100%;
  font-size: 16px !important;
  text-align: center !important;
}

.mail_check input {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  color: cyan;
  background: rgb(9 39 48);
  border: 1px solid cyan;
  border-radius: 6px;
}

#check_icon {
  color: green;
  width: 35px;
  height: 35px;
}

.ReactModal__Overlay {
  background-image: url("../../../public/background.jpg");
  background-color: rgba(5, 67, 95, 0.95) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.chosen_tab {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(2, 59, 59, 0.5);
}

.display_products {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: rgba(2, 59, 59, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  height: 38px;
}

.display_products:hover {
  cursor: pointer;
}

.display_cart_icon {
  height: 25px;
  padding-right: 20px;
}

.no_of_products_in_cart {
  font-size: 15px;
  min-width: 20px;
  text-align: center;
  margin-left: 140px;
  background: red;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 20%;
}

.bm-menu-wrap.my-custom-menu {
  width: 250px !important;
}

#react-burger-menu-btn {
  width: 50px !important;
  height: 45px !important;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 10px;
}

.bm-burger-bars {
  border-radius: 4px;
  margin: 4px 0;
  background: white;
}

.bm-burger-bars:nth-child(1) {
  width: 25px;
}

.bm-burger-bars:nth-child(2) {
  width: 50px;
  background-color: cyan;
}

.bm-burger-bars:nth-child(3) {
  width: 25px;
  margin-left: 25px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  overflow: hidden !important;
  background: #02222b;
  padding-left: 0;
  padding-top: 20px;
  font-size: 1.15em;
  width: 250px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 20px 0px 0px 0px;
}

.menu_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  margin-bottom: 120px;
  margin-top: 100px;
  width: 100%;
  padding-left: 0 !important;
}

.img_navbar {
  width: 100%;
  cursor: auto;
  background-color: #02222b;
}

.bm-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  height: 40px;
  padding-left: 10px;
}

.bm-item:first-of-type {
  padding-left: 12px;
}

#menu_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 255px;
  border-bottom: none;
  padding: 0;
}

#menu_footer:hover {
  background: #02222b !important;
}

#menu_footer span:last-of-type {
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

.bm-item:hover {
  background: #04576e;
  color: white;
}

@media screen and (max-width: 500px) {
  .menu_tab {
    margin-top: 15px;
  }

  #username,
  #mail,
  #pass {
    font-size: 15px;
  }

  .login_modal_content {
    width: calc(100vw - 10%);
    top: 53%;
  }

  .login_modal_content span:first-of-type {
    width: 115.5%;
  }

  .login_modal_content span {
    font-size: 16px;
  }

  .login_modal_content button {
    font-size: 15px;
  }

  .login_modal_content label {
    font-size: 15px;
  }

  #log_option span {
    font-size: 20px;
  }

  .mail_check span {
    font-size: 16px !important;
  }

  #check_icon {
    width: 25px;
    height: 25px;
  }

  .chosen_tab {
    font-size: 18px;
  }

  .display_products {
    font-size: 18px;
    height: 29px;
    margin-left: 15px;
  }

  .display_cart_icon {
    height: 19px;
  }

  .no_of_products_in_cart {
    font-size: 16px;
  }

  #menu_footer {
    margin-top: calc(100vh - 300%);
  }
}
