body {
  background-color: #282c34;
  background-image: url("../src/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

@media screen and (max-width: 500px) {
  body {
    height: 100%;
  }
}
